<div class="container">
  <h1>  LOGIN  </h1>
  <form [formGroup]="form">
    <div class="form-field">
      <label></label>
      <input class="input-field" name="input-field" formControlName="username" placeholder="Username" />
    </div>
    <div class="form-field">
      <label></label>
      <input class="input-field" name="input-field" formControlName="password" type="password" placeholder="Password" />
    </div>
  </form>
  <button id="btnRegister"  (click)="login()"> Login </button>
  <button id="btnRegister"  (click)="goToRegister()"> Go to Register </button>
  <div id='wrong-text'>

  </div>
</div>
